ci_artefacts/*.png
*.ini
doc/
images
subprojects
unused/
video_data/
videos/
__pychache__/
*.pyc
*.nbc
*.nbi
*.so
scripts/*.prof
_deps
CMakeFiles
*.cmake
CMakeCache.txt
Makefile
.idea/
build
*.npy
log
*.o
jit_tmp*
run_hooks
